langchain
langchain-community
langchain-experimental
fastapi
uvicorn
pydantic
httpx
python-dotenv
streamlit
requests
langchain-google-community
langchain-tavily
langchain-groq
langchain-openai
langgraph

-e .
protobuf>=5.29.6 # not directly required, pinned by Snyk to avoid a vulnerability